.card__title {
  margin: 1.25rem 0;
}

.card__question {
  font-size: 1.625rem;
  margin: 1.25rem 0;
}

.card__answers {
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin: 1.25rem 0;
}

.card__answers > li {
  width: 100%;
}

.card__answers button {
  background-color: transparent;
  border: 4px solid hsla(175, 30%, 38%, 1);
  border-radius: 10px;
  color: white;
  font-size: 1.125rem;
  padding: 0.5rem 0.3125rem;
  margin: 0.5em 0;
  cursor: pointer;
  width: 100%;
}

.card__result {
  text-align: center;
}

.card__result > p {
  font-size: 1.625rem;
}
